@import "../../styles/utils/mixins";

.icon_button {
  @include iconButton;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    @include iconButtonHover;
  }

  &--selected {
    @include iconButtonSelected;
  }
}
