@import "../../styles/utils/mixins";

.icon_button {
  @include iconButton;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: background-color 0.3s;

  &:hover {
    @include iconButtonHover;
  }

  &--selected {
    @include iconButtonSelected;
  }

  &--disabled {
    @include iconButtonDisabled;
  }
}
