$title-hover: rgb(166, 201, 230);

.container-categories {
  margin: 0 auto;
  max-width: 1136px;
}

.section-categories {
  margin: 0 16px;

  @include onTablet {
    margin: 0 24px;
  }

  @include onDesktop {
    margin: 0;
  }
}

.title-categories {
  font-size: 32px;
  margin-bottom: 24px;
}

.categories {
  display: block;

  @include onTablet {
    display: flex;
  }
}

.picture-container-categories {
  margin-bottom: 14px;
  overflow: hidden;

  @include onTablet {
    height: 0;
    position: relative;
    padding-bottom: 100%;
  }
}

.category-categories_section {
  margin: 0 auto;
  max-width: 368px;
  margin-bottom: 32px;

  @include onTablet {
    max-width: none;
    margin: 0;
  }

  &-picture {
    object-fit: cover;
    object-position: left top;
    border-radius: 3%;
    @include transition;
    width: 100%;

    @include onTablet {
      position: absolute;
      height: 100%;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &-title {
    font-size: 20px;
    font-weight: 600;
    @include transition;

    &:hover {
      color: $title-hover;
    }
  }

  &-subtitle {
    font-size: 14px;
    color: $secondaryTextColor;
    @include transition;

    &:hover {
      color: $textColor;
    }
  }
}

.phone-counter-error {
  color: red;
}

.grid-category {
  display: block;

  @include onTablet {
    display: grid;
    column-gap: 16px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12, 1fr);
  }

  @include onDesktop {
    grid-template-columns: repeat(24, 1fr);
  }

  &__item {
    @for $start from 1 through 4 {
      @for $end from $start through 4 {
        &-#{$start}-#{$end} {
          grid-column: #{$start} / #{$end + 1};
        }
      }
    }

    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--tablet-#{$start}-#{$end} {
          @include onTablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
    @for $start from 1 through 24 {
      @for $end from $start through 24 {
        &--desktop-#{$start}-#{$end} {
          @include onDesktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}
