@import "../../styles/utils/mixins";

.goback-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;

  &--button {
    @include bodyText;
    color: #75767f;

    &:hover {
      color: #fff;
    }
  }
}
