&__favorite_button {
  @include likeButton;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    @include likeButtonHover;
  }

  &--selected {
    @include likeButtonSelected;
  }
}
