.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $main-color;
  box-shadow: 0 1px 0 0 $shadow-color;
  font-size: 12px;
  height: $header-tablet-height;

  @include onDesktop {
    height: $header-desktop-height;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include onTablet {
      width: 450px;
    }

    @include onDesktop {
      width: 600px;
    }
  }

  &__logo {
    cursor: pointer;
    padding-left: 16px;

    @include onDesktop {
      padding-left: 24px;
    }
  }

  &__icons {
    display: none;

    @include onTablet {
      display: flex;
    }
  }


  &__burger-menu {
    @include icoStyles;
    width: 48px;
    height: $header-tablet-height;

    @include onTablet {
      display: none;
    }
  }
}

.icon {
  @include transition;

  &:hover {
    background-color: grey;
  }
}
