.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $main-color;
  font-size: 12px;
  height: $header-tablet-height;
  border-bottom: 1px solid $shadow-color;

  @include onDesktop {
    height: $header-desktop-height;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include onTablet {
      width: 500px;
    }

    @include onDesktop {
      width: 600px;
    }
  }

  &__logo {
    width: 100px;
    padding-left: 16px;

    @include onDesktop {
      padding-left: 24px;
    }
  }

  &__icons {
    display: none;

    @include onTablet {
      display: flex;
    }
  }

  &__burger-menu {
    @include iconStyles;
    width: 48px;
    height: $header-tablet-height;

    @include onTablet {
      display: none;
    }
  }
}

.is-active {
  color: $textColor;

  &::after {
    opacity: 100;
  }
}

.link-header-icon {
  &::after {
    @include onTablet {
      position: relative;
      content: "";
      display: block;
      bottom: 5px;
      width: 95%;
      left: 2px;
      opacity: 0;
      border-bottom: 4px solid $textColor;
      border-radius: 2px;
      @include transition;
    }
  }
}
