.icon {
  @include iconStyles;
  @include transition;

  @include onTablet {
    width: 48px;
    height: 50px;
  }

  @include onDesktop {
    width: 64px;
    height: 66px;
  }

  &:hover {
    background-color: $icon-hover-color;
  }

  position: relative;
}
