.nav-bar {
  display: none;

  @include onTablet {
    display: flex;
    width: 400px;
    justify-content: space-around;
    list-style: none;

    &__link {
      font-family: "Mont", sans-serif;
      color: $link-color;
      text-decoration: none;
      @include transition;

      &::after {
        position: relative;
        top: 20px;
        content: "";
        display: block;
        opacity: 0;
        border-bottom: 4px solid $header-link-color-hovered;
        border-radius: 2px;
        @include transition;

        @include onTablet {
          top: 12px;
        }

        @include onDesktop {
          top: 20px;
        }
      }

      &:hover {
        color: $header-link-color-hovered;
      }
    }
  }

  @include onDesktop {
    width: 450px;
  }
}

.is-active {
  &::after {
    opacity: 100;
  }
}
