.nav-header {
  display: none;

  @include onTablet {
    display: flex;
    width: 400px;
    justify-content: space-around;
    list-style: none;

    &__link {
      @include link;

      &::after {
        @include onTablet {
          @include afterLink;
        }
      }

      &:hover {
        @include hoveredLink;
      }
    }
  }

  @include onDesktop {
    width: 450px;
  }
}

.is-active {
  color: $textColor;

  &::after {
    opacity: 100;
  }
}
