.container {
  margin: 0 16px;

  @include onTablet {
    margin: 0 24px;
  }

  @include onTablet {
    margin: 0 32px;
  }
}

.main-title {
  font-size: 20px;
  padding-bottom: $gap;
  margin-bottom: 25px;
  border-bottom: 1px solid $separatLineColor;
}

.char {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px ;
}
