.container-tech-Spec {
  margin: 0 16px;

  @include onTablet {
    margin: 0 24px;
  }

  @include onTablet {
    margin: 0 32px;
  }
}

.main-title-tech-spec {
  margin-top: 56px;
  font-size: 20px;
  padding-bottom: $gap;
  margin-bottom: 25px;
  border-bottom: 1px solid $separatLineColor;

  @include onTablet {
    margin-top: 0;
  }
}
