.product-slider {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  margin: 0 auto;
  width: 1136px;

  &__header {
    display: flex;
    justify-content: space-between;
    width: 1136px;

    padding-bottom: 28px;
  }

  &__buttons {
    display: flex;
    gap: 16px;

    &__button {
      background-color: #323542;
      color: #f1f2f9;

      cursor: pointer;
      transition: all 0.3s;

      &--active {
        background-color: aqua;
      }
      height: 40px;
      width: 40px;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 80px;

    overflow: hidden;
    overflow-x: hidden;
  }
}
