.product-slider {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  margin: 0 auto;
  width: 1136px;

  @media (max-width: 1200px) {
    padding-left: 24px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1136px;

    padding-bottom: 28px;

    @media (max-width: 1200px) {
      padding: 28px 20px;
      width: 100%;
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;

    &__button {
      height: 40px;
      width: 40px;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 80px;

    overflow: hidden;
    overflow-x: hidden;
  }
}
