@import "../../.././styles/utils/variables";

.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: $secondaryTextColor;
  background-color: #0f1121;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  height: 100vh;
  box-sizing: border-box;

  &.open {
    transform: translateX(0);
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
  }
  .logo {
    width: 100%;
    // border-bottom: $menuBorders;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    &-image {
      display: block;
      padding-left: 16px;
    }
  }

  .close-icon {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    // border-left: $menuBorders;
    // border-bottom: $menuBorders;
    right: 0;

    &-img {
      display: block;
      width: 16px;
      height: 16px;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;

    &-link {
      text-transform: uppercase;
      font-size: 12px;
      line-height: 11px;
      font-weight: 800;
      cursor: pointer;
      color: #75767f;
      text-decoration: none;
      margin-bottom: 32px;
      transition: color 0.3s ease;

      &:hover {
        color: #f1f2f9;
      }

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #f1f2f9;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    background-color: #0f1121;

    &-container {
      box-sizing: border-box;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      // border-top: $menuBorders;

      &-fav {
        border-right: $menuBorders;
      }

      &_icon {
        width: 16px;
        height: 16px;
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 0.3s ease;
        &:hover {
          transform: scale(1.2);
          z-index: 1;
        }

        &:hover::after {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 50%;
          z-index: -1;
        }
      }

      &:hover {
        border-bottom: 2px solid #f1f2f9;
        transition: border-bottom 0.3s ease;
      }
    }
  }
}
