@import "../../styles/utils/mixins";

.add_button {
  @include addButton;

  width: 100%;
  height: 100%;

  margin-right: 8px;

  border-radius: 5px;
  transition: box-shadow 0.3s;

  &:hover {
    @include addButtonHover;
    box-shadow: 0 0 4px 4px rgba(163, 120, 255, 0.3);
  }

  &:active {
    box-shadow: 0 0 2px 2px #a378ff;
    transition: box-shadow 0.1s;
  }

  &--selected {
    background-color: transparent;
    @include iconButtonSelected;

    &:hover {
      @include iconButtonSelected;
    }
  }
}
