@import "../../styles/utils/mixins";

.add_button {
  @include addButton;

  width: 100%;
  height: 40px;

  margin-right: 8px;

  &:hover {
    @include addButtonHover;
  }

  &--selected {
    @include addButtonSelected;
  }
}
