@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.pageNotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__message {
    display: inline;
    margin-bottom: 70px;
  }
}

.container-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  display: inline;
  height: 500px;
  width: 500px;
}

.container-page--button {
  margin-bottom: 70px;
  @include addButton;

  width: 150px;
  height: 40px;

  margin-right: 10px;

  border-radius: 5px;
  transition: box-shadow 0.3s;

  &:hover {
    @include addButtonHover;
    box-shadow: 0 0 4px 4px rgba(163, 120, 255, 0.3);
  }

  &:active {
    box-shadow: 0 0 2px 2px #a378ff;
    transition: box-shadow 0.1s;
  }

  &--selected {
    background-color: transparent;
    @include iconButtonSelected;

    &:hover {
      @include iconButtonSelected;
    }
  }
}
