$tablet-min-width: 640px;
$desktop-min-width: 1440px;

$header-desktop-height: 64px;
$header-tablet-height: 48px;

$main-color: rgb(15, 17, 33);
$shadow-color: rgb(50, 53, 66);
$ico-border-color: rgb(42, 41, 50);
$link-color-hovered: rgb(241, 242, 249);
