$header-desktop-height: 64px;
$header-tablet-height: 48px;

$main-color: rgb(15, 17, 33);
$pink: rgb(255, 83, 205);
$icon-hover-color: rgb(128, 128, 128);
$shadow-color: rgb(50, 53, 66);
$ico-border-color: rgb(42, 41, 50);
