@import "../../../styles/main.scss";

.price {
  display: flex;
  margin-bottom: 16px;
}

.new-price {
  font-size: 32px;
  margin-right: 8px;
}

.old-price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondaryTextColor;
  text-decoration: line-through;
}

.add-section {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}

.favourite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: $likeButtonBcg;
}

.button-with-icon_container {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
}

.button-add-to-cart_container {
  height: 48px;
  width: 100%;
}
