.pageNotFound {
  display: flex;
  justify-content: center;
  align-items: center;

  // background-color: ;

  // &__message {
  //   font-size: 62px;
  //   font-family: Arial, Helvetica, sans-serif;
  //   color: ;
  // }
}
