@import "../../styles/utils/mixins";

.card {
  &__container {
    width: 212px;
    background-color: $cardBackground;
    padding: 32px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;

    @include onTablet {
      width: 237px;
    }

    @include onDesktop {
      width: 272px;
    }

    &:hover {
      border-color: #a378ff;
      box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
    }
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
    border-radius: 10%;

    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
    border-radius: 10%;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__photo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 148px;
    height: 196px;
    margin-bottom: 24px;

    @include onTablet {
      width: 173px;
    }

    @include onDesktop {
      width: 208px;
    }
  }

  &__photo {
    width: 100%;
    margin: auto;
  }

  &____phone_link {
    @include bodyText;

    display: block;
  }

  &__price {
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;

    &--fullPrice {
      @include price;

      display: block;
    }

    &--discountPrice {
      @include discountPrice;

      display: block;
      margin-left: 8px;
    }
  }

  &__separate-line {
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid $separatLineColor;
  }

  &__char {
    display: flex;
    justify-content: space-between;

    @include smalltext;

    margin-bottom: 8px;

    &--category_name {
      color: $secondaryTextColor;
    }

    &--last {
      margin-bottom: 16px;
    }

  }

  &__buttons {
    display: flex;
  }
}
