$tablet-min-width: 640px;
$desktop-min-width: 1440px;

$main-color: rgb(15, 17, 33);
$link-color: rgb(117, 118, 127);
$link-color-hovered: rgb(241, 242, 249);
$shadow-color: rgb(50, 53, 66);
$arrow-size: 26px;
