@import "../../../styles/utils/mixins";

.cart-item {

  @include bodyText;
  background-color: $cardBackground;
  height: 160px;
  width: 100%;

  padding: 16px;
  margin-bottom: 16px;

  @include onTablet {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 24px;
  }

  &__info {
    display: flex;
    align-items: center;

    margin-bottom: 18px;

    @include onTablet {
      margin-right: 24px;
      margin-bottom: 0;
    }
  }

  &__close-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 24px;
    width: 24px;

    margin-right: 20px;

    @include onTablet {
      margin-right: 32px;
    }

    fill: $secondaryTextColor;

    &:hover {
      @include iconButtonHover;
    }
  }

  &__title {
    @include bodyText;

    @include onTablet {
      width: 176px;
    }

    @include onDesktop {
      width: 336px;
    }
  }

  &__image {
    display: block;
    width: 80px;
    height: 80px;
    object-position: center;
    object-fit: contain;
    margin-right: 23px;

    @include onTablet {
      margin-bottom: 0;
      margin-right: 31px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__phone_link {
    display: flex;
    align-items: center;
  }
}

.cart__counter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_icon {
    width: 32px;
    height: 32px;

    flex-shrink: 0;

    &--minus {
      pointer-events: none;
    }
  }

  &_buttons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 96px;
  }

  &_price {
    @include price;

    display: block;
  }
}
