@import "../../../styles/utils/mixins";

.cart-item {

  @include bodyText;
  background-color: $cardBackground;
  height: 160px;
  width: 100%;

  padding: 16px;
  margin-bottom: 16px;

  @include onTablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__info {
    display: flex;

    @include onTablet {
      margin-right: 24px;
    }
  }

  &__close {
    fill: $secondaryTextColor;
  }

  &__title {
    @include bodyText;

    @include onTablet {
      width: 176px;
    }

    @include onDesktop {
      width: 336px;
    }
  }

  &__image {
    width: 80px;
    height: 80px;
    object-position: center;
    object-fit: contain;
    margin-right: 23px;

    @include onTablet {
      margin-bottom: 0;
      margin-right: 31px;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }

  &__close-button {
    margin-right: 23px;

    @include onTablet {
      margin-right: 31px;
    }
  }

  &__counter {
    width: 100%;
  }
}

.counter {
  display: flex;
  justify-content: space-between;

  &__icon {
    width: 32px;
    height: 32px;

    flex-shrink: 0;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 96px;
  }

  &__price {
    @include price;

    display: block;
  }
}
