@import "../../styles/utils/mixins";
@import "../../styles/utils/variables";

.card {
  &__container {
    width: 212px;
    height: 439px;
    background-color: $cardBackground;
    border-radius: 5%;
    padding: 32px;

    @include onTablet {
      width: 237px;
      height: 512px;
    }

    @include onDesktop {
      width: 272px;
      height: 506px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__photo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 148px;
    height: 196px;
    margin-bottom: 24px;

    @include onTablet {
      width: 173px;
    }

    @include onDesktop {
      width: 208px;
    }
  }

  &__photo {
    width: 100%;
    margin: auto;
  }

  &____phone_link {
    @include bodyText;

    display: block;
  }

  &__price {
    display: flex;
    align-items: start;
    margin-top: 8px;

    &--fullPrice {
      @include price;

      display: block;
    }

    &--discountPrice {
      @include discountPrice;

      display: block;
      margin-left: 8px;
    }
  }

  &__separate-line {
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid $separatLineColor;
  }

  &__char {
    display: flex;
    justify-content: space-between;

    @include smalltext;

    margin-bottom: 8px;

    &--category_name {
      color: $secondaryTextColor;
    }

    &--last {
      margin-bottom: 16px;
    }

  }

  &__buttons {
    display: flex;
  }
}

.add_button {
  @include buttons;

  width: 100px;
  height: 40px;

  @include onTablet {
    width: 125px;
  }

  @include onDesktop {
    width: 160px;
  }

  margin-right: 8px;

  &--selected {
    @include buttonSelected;
  }

  &:hover {
    @include buttonHover;
  }
}

.favorite_button {
  @include likeButton;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    @include likeButtonHover;
  }

  &--selected {
    @include likeButtonSelected;
  }
}
