@import "../../styles/utils/mixins";

.back_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;

  width: 66px;

  background: none;

  &__icon {
    display: block;
  }

  &__text {
    @include smalltext;
    margin-left: 8px;
    display: inline-block;
    margin-top: 1px;
  }
}
