@import "./variables";

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onPhoneTablet {
  @media (min-width: 848px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin mainTitle {
  font-weight: 800;
  font-size: 32px;
  line-height: 1.28;
  letter-spacing: -0.01em;

  @include onTablet {
    // desctop || tablet
    font-weight: 800;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing: -0.01em;
  }
}

@mixin secondaryTitle {
  font-weight: 800;
  font-size: 22px;
  line-height: 1.4;

  @include onTablet {
    // desctop || tablet
    font-weight: 800;
    font-size: 32px;
    line-height: 1.28;
    letter-spacing: -0.01em;
  }
}

@mixin thirdTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;

  @include onTablet {
    // desctop || tablet
    font-weight: 800;
    font-size: 22px;
    line-height: 1.4;
  }
}

@mixin price {
  font-weight: 800;
  font-size: 22px;
  line-height: 1.4;
}

@mixin discountPrice {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: $secondaryTextColor;
}

@mixin fourthTitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  @include onTablet {
    // desctop || tablet
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
  }
}

@mixin addButton {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;

  background-color: $accentColor;
}

@mixin addButtonHover {
  background-color: #a378ff;
  // flex-grow: 1;
}

@mixin addButtonSelected {
  background-color: #323542;
}

@mixin iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  background-color: $likeButtonBcg;
}

@mixin iconButtonHover {
  background-color: $likeButtonHoverBcg;
}

@mixin iconButtonSelected {
  border: 1px solid $borderColor;
  background: none;
}

@mixin iconButtonDisabled {
  border: 1px solid $borderColor;
  background: none;
}

@mixin bodyText {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
}

@mixin smalltext {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

@mixin transition {
  transition: all 0.3s ease-in-out;
}
