* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  background: $mainBackground;
  color: $textColor;
  font-family: "Mont", sans-serif;
  font-style: normal;
}

iframe {
  overflow: hidden;
  pointer-events: none;
}

button,
a {
  text-decoration: none;
  cursor: pointer;
  color: $textColor;
  font-family: inherit;
  font-style: inherit;
}
