$textColor: #f1f2f9;
$accentColor: #905bff;
$secondaryTextColor: #75767f;
$borderColor: #3b3e4a;

$likeButtonBcg: #323542;
$likeButtonHoverBcg: #4a4d58;

$mainBackground: #0f1121;
$cardBackground: #161827;
$menuBorders:  1px solid #3b3e4a;

$separatLineColor: #3b3e4a;

$gap: 16px;
