$textColor: #f1f2f9;
$accentColor: #905bff;
$secondaryTextColor: #75767f;
$borderColor: #3b3e4a;
$menuBorders:  1px solid #3b3e4a;
$main-color: rgb(15, 17, 33);
$icon-hover-color: rgb(128, 128, 128);
$shadow-color: rgb(50, 53, 66);
$icon-border-color: rgb(42, 41, 50);

$likeButtonBcg: #323542;
$likeButtonHoverBcg: #4a4d58;

$mainBackground: #0f1121;
$cardBackground: #161827;
$menuBorders:  1px solid #3b3e4a;

$separatLineColor: #3b3e4a;

$gap: 16px;
$section-width-onTablet: 237px;
$section-width-onDesktop: 320px;
$header-desktop-height: 64px;
$header-tablet-height: 48px;
