.footer {
  position: sticky;
  bottom: 0;
  height: 250px;
  padding: 0 $gap;
  background-color: $mainBackground;
  border-top: 1px solid $shadow-color;

  @include onTablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;

    @include onTablet {
      padding: 0 30px;
    }

    @include onDesktop {
      padding: 0 152px;
    }
  }

  &__logo {
    min-height: 120px;
    cursor: pointer;

    @include onTablet {
      padding-bottom: 0;
    }
  }

  &__arrow {
    width: $arrow-size;
    height: $arrow-size;
    margin-left: $gap;
    padding: 10px;
    background-color: #323542;
  }

  &__before {
    font-family: "Mont", sans-serif;
    flex-wrap: nowrap;
    color: $secondaryTextColor;
    font-size: 12px;
    font-weight: 700;
  }
}

.back-top {
  padding-left: 40%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $secondaryTextColor;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  padding-bottom: 32px;

  @include onTablet {
    padding-left: 0;
  }
}
