.nav-footer {
  &__list {
    list-style: none;


    @include onTablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    padding-bottom: 12px;

    @include onTablet {
      padding-bottom: 0;
      padding-right: 20px;
    }

    @include onDesktop {
      padding-right: 50px;
    }
  }

  &__link {
    @include link;

    &::after {
      @include onTablet {
        @include afterLink;
      }
    }

    &:hover {
      @include hoveredLink;
    }
  }
}
