.nav {
  &__list {
    list-style: none;

    @include onTablet {
      display: flex;
      justify-content: space-between;

    }
  }

  &__item {
    padding-bottom: 16px;

    @include onTablet {
      padding-bottom: 0;
      padding-right: 20px;
    }

    @include onDesktop {
      padding-right: 50px;
    }
  }

  &__link {
    font-family: "Mont", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(241, 242, 249);
  }
}
