@import "../../../styles/utils/variables";
@import "../../../styles/utils/mixins";
@import "../../../styles/main.scss";

.photo-block {
  margin-left: 33px;
  overflow: hidden;

  max-width: 554px;

  @media (max-width: 640px) {
    height: 388px;
    margin-left: 0;
  }

  @media (max-width: 848px) {
    padding-top: 50px;
  }

  &__selectedItem-container {
    max-width: 464px;
    height: 464px;
    overflow: hidden;
    position: relative;
    left: 90px;

    @media (max-width: 1199px) {
      max-width: 374px;
      max-height: 374px;
    }

    @media (max-width: 848px) {
      max-width: 274px;
      max-height: 274px;

      left: 50px;
    }
  }

  &__selectedItem {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: contain;
  }
}

#swiper .swiper-pagination-bullets {
  position: static;

  @include onTablet {
    text-align: left;
  }
}

#swiper .swiper-pagination {
  background-color: $mainBackground;

  @include onTablet {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
  }

  @media (max-width: 640px) {
    height: 64px;
  }
}

#swiper .swiper-pagination-bullet {
  overflow: hidden;
  position: relative;
  opacity: 1;
  border-radius: 0;
  background: transparent;
  border: 1px solid #474747;
  transition: all 0.3s ease-in-out;

  margin-bottom: 10px;

  &:hover {
    border: 1px solid #fff;
  }

  @media (max-width: 640px) {
    width: 52px;
    height: 50px;

    margin: 0 auto;
    margin-right: 8px;
  }

  @include onTablet {
    width: 58px;
    height: 58px;
  }

  @media (max-width: 848px) {
    width: 38px;
    height: 38px;
  }

  @include onDesktop {
    width: 80px;
    height: 80px;
  }
}

#swiper .swiper-pagination-bullet-active {
  border: 1px solid #fff;
}

#swiper .swiper-pagination-bullet .bullet-image {
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
}
