@import "../../../styles/main.scss";

.photo-block {
  position: relative;
  width: 559px;
  height: 471px;

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 17px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 80px;
      height: 80px;

      border: 1px solid #c4c4c4;

      &__img {
        height: 100%;

        &--active {
          border-radius: 30px;
        }
      }
    }
  }

  &__selectedItem {
    position: absolute;
    top: 11px;
    right: 11px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 442px;
    height: 442px;
  }
}
