@import "../../styles/utils/mixins";

.cart {
  margin: 0 auto;
  max-width: 1200px;
  padding: 16px;

  @include onTablet {
    padding: 24px;
  }

  @include onDesktop {
    padding: 32px;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include onDesktop {
      display: grid;

      grid-template-columns: repeat(24, 1fr);
      column-gap: $gap;
    }
  }

  &__cart-item {
    @include onDesktop {
      grid-column: 1 / 17;
    }
  }

  &__total-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 206px;
    padding: 24px;
    border: 1px solid #3b3e4a;

    @include onDesktop {
      grid-column: 17 / 24;
    }
  }

  &__total-sum {
    @include price;
  }

  &__total-text {
    @include bodyText;

    color: $secondaryTextColor;
  }

  &__separate-line {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid $separatLineColor;

    @include onDesktop {
      margin-top: 25px;
    }
  }

  &__checkout {
    @include addButton;

    width: 100%;
    height: 40px;

    margin-right: 8px;

    &:hover {
      @include addButtonHover;
    }

    &--selected {
      @include addButtonSelected;
    }
  }
}
