@import "../../../styles/utils/mixins";

.counter {
  display: flex;
  justify-content: space-between;

  &__icon {
    width: 32px;
    height: 32px;

    flex-shrink: 0;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 96px;
  }

  &__price {
    @include price;

    display: block;
  }
}
