.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: #75767f;
  background-color: #0f1121;
  padding: 16px;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  height: 100vh;
  box-sizing: border-box;

  &.open {
    transform: translateX(0);
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;

    .logo,
    .close-icon {
      margin: 0;
      padding: 0;
    }

    .logo {
      margin-right: auto;
    }

    .close-icon {
      margin-left: auto;
      cursor: pointer;
      background: none;
      width: 16px;
      height: 16px;
      border: none;
      outline: none;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;

    a {
      text-transform: uppercase;
      font-size: 12px;
      line-height: 11px;
      font-weight: 800;
      cursor: pointer;
      color: #75767f;
      text-decoration: none;
      margin-bottom: 32px;
      transition: color 0.3s ease;

      &:hover {
        color: #f1f2f9;
      }

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: #f1f2f9;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    background-color: #0f1121;

    .footer-button-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      img {
        width: 16px;
        height: 16px;
        display: block;
        margin: 0 auto;
      }

      &:hover {
        border-bottom: 2px solid #f1f2f9;
        transition: border-bottom 0.3s ease;
      }
    }
  }
}
