.container-about-section {
  width: 100%;
  margin: 56px;

  @include onTablet {
    margin: 0 24px;
  }

  @include onTablet {
    margin: 0 32px;
  }
}

.main-title {
  font-size: 20px;
  padding-bottom: $gap;
  border-bottom: 1px solid $separatLineColor;
}

.about-section {
  margin-top: 32px;
}

.about-section-title {
  font-size: 16px;
  margin-bottom: $gap;
}

.about-section-text {
  color: $secondaryTextColor;
}
