.container-about-section {
  margin-bottom: 56px;

  @include onTablet {
    margin-bottom: 64px;
  }

  @include onDesktop {
    margin-bottom: 80px;
  }
}

.main-title {
  font-size: 20px;
  padding-bottom: $gap;
  border-bottom: 1px solid $separatLineColor;
}

.about-section {
  margin-top: 32px;
}

.about-section-title {
  font-size: 16px;
  margin-bottom: $gap;
}

.about-section-text {
  color: $secondaryTextColor;
}
