@import "../../styles/main.scss";

.cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $textColor;
    padding: 20px;
    border-radius: 5px;
    z-index: 2;
    color: $mainBackground;
  }

  &__button {
    display: block;
    width: 100px;
    height: 32px;
    background-color: $mainBackground;
    color: #fff;
  }

  &__text {
    margin-bottom: 15px;

  }
}
