@import "../../styles/main.scss";

.params-section {
  border-bottom: 1px solid $borderColor;

  &__title {
    color: $secondaryTextColor;
    font-size: 12px;
    margin-bottom: 8px;
  }
}

.section {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $separatLineColor;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  @include transition;
}

.button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.active-color {
  border: 1px solid white;
}

.capacity {
  font-size: 14px;
  padding: 7px 8px 4px;
  border: 1px solid $borderColor;
  @include transition;
}

.active-capacity {
  background-color: $textColor;
  color: $mainBackground;
}
